@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h2 {
  @apply text-2xl font-bold mb-3;
}

.header-anchor {
  display: none;
}

:is(h2:hover, h3:hover) .header-anchor {
  display: initial;
}

feature-badges {
  align-items: baseline;
} 

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.toc ol {
  margin-left: 1rem;
}

.toc > ol > li {
  font-weight: bold;
}

li li {
  font-weight: normal;
}

.prose code:after, .prose code:before {
  content: "";
}