---
layout: default
title: MyInsights+
description: An introduction to C-Clear Partners' MyInsights+ framework
---

<div class="container mx-auto flex flex-col justify-center items-center">
    <h1>
      Welcome to
      <strong class="bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-yellow-500">
        MyInsights+
      </strong>
    </h1>
  
    <div class="w-full max-w-2xl grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 px-4 lg:mx-0">
      {% if quicklinks.links %}
        {% for item in quicklinks.links %}
          <a href="{{item.url}}" class="p-5 border rounded border-gray-200 hover:border-red-500">
            <h2>{{item.title}} →</h2>
            <p>{{item.desc}}</p>
          </a>
        {% endfor %}
      {% endif %}
    </div>

    <article class="prose lg:prose-xl my-4 mx-auto">
      {% for post in collections.homes %}
        <h2>{{ post.data.title }}</h2>
        {{ post.templateContent | safe }}
      {% endfor %}
    </article>
</div>

